header {
  display: flex;
  justify-content: space-around;
  /* margin: auto; */
 }
 
 
 nav {
   text-align: right;
   /* margin-left: auto; */
 }
 
 nav ul {
   display: flex;
   list-style: none;
 }
 
 nav ul li {
   padding: 0 20px 0 0;
 }
 
 nav ul li a {
   color: black;
   text-decoration: none;
 }
 
 .footer-img {
   height: 334px;
   width: 184px;
   margin-left: 100px;
   margin-top: 50px;
 }